@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');


.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-image: url('../src/images/pozadie.jpg');
  background-attachment: fixed;
  margin-top: 15px;
}

.home {
  margin-top: 30vh;
  /* overflow: hidden; */
  position: relative;
}

.home-bg{
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  z-index: 0;
  /* height: 120%; */
  
}

.countDown {
  line-height: 100px;
  font-weight: 700;
  font-size: 75px;
  letter-spacing: 7px;
}

.countdown {
  background-image: url('../src/images/2.png');
  background-position: center;
  color: #fff;
  height: 100px;
  margin: auto;
  border-radius: 30px;
  justify-content: center;
}
html, body {
  margin: 0;
  padding: 0;
}

.content {
  background-image: url('../src/images/2.png');
  background-size: 100%;
  /* background-attachment: fixed; */
  border-radius: 25px;
  padding: 0.25cm;
}

.lineup {
  background-image: url('../src/images/2.png');
  background-position: center;
  border-radius: 30px;
  /* background-size: ; */
  color: #fff;
  height: 200px;
  line-height: 200px;
  align-content: center;
  vertical-align: middle;
  margin: auto;
  font-weight: 900;
}

.dropdown {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
  border: none;
}

.Q {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  cursor: pointer;
}

.A {
  text-align: middle;
  animation: slideDown ease .4s forwards;
}

@keyframes slideUp {
  0% {transform: translateY(0);}
  100% {transform: translateY(-40px);opacity:1;}
}

@keyframes slideDown {
  0% {transform: translateY(-20px); opacity: 0;}
  100% {transform: translateY(0px);opacity:1;}
}

#faq {
  height: fit-content;
  margin-top: 0;
}

.faq {
  background-image: url('../src/images/2.png');
  background-size: 100%;
  /* background-attachment: fixed; */
  border-radius: 25px;
  padding: 0.25cm;
}

.band {
  display: inline-block;
  vertical-align: middle; 
  font-size: xx-large;
}

ul {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  list-style: none;
  padding: 0;

}

.content_container {
  padding: 1cm;
  margin-top: -100px;
}

.nav {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  width: calc(100% - 1.5rem);
  background-color: #fff;
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.navbar__actions {
  display: inline-block;
  flex-flow: row nowrap;
  padding-left: 50px;
  flex: 1;
  vertical-align: middle;
}

.active {
  font-weight: bold;
}

.mapContainer{
  height: 50vh;
  width: 100%;
}

.intro {
  text-align: center;
  justify-content: center;
}

.column {
  width: 45%;
  float: left;
}

.column:nth-child(odd) {
  clear: left;
}

.column-desc {
  display: flex;
  width: 20%;
  height: 700px;
  float: left;
  align-items:center;
  justify-content:center;
  text-transform: uppercase;
  font-size: 100px;
}

.column-gallery {
  width: 80%;
  clear: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  display: block;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
  place-items: center;
  margin-top: 25vh;
}

hr {
  border: 1px solid black;
}

li {
  width: fit-content;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

li:hover {
  text-decoration: grey;
}

#about {
  height: 150vh;
}

#contact {
  /* height: 50vh; */
  margin-top: 0;
}

.gallery{
  width: 1060px;
  height: 700px;
  z-index: 1;
}

/* animations */
@keyframes rollout {
  0% { transform: translateY(-100px); }
  100% { transform: none; }
}

.roll-out {
  animation: rollout 1.2s;
}

/* footer */
.footer-box {
  /* padding: 80px 60px; */
  background: black;
  position: absolute;
  /* margin-top: 400px; */
  width: 100%;
  height: 150px;

  @media (max-width: 1000px) {
    padding: 70px 30px;
  };
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}

.footer-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 20px;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

}

.footer-heading {
  font-size: 24px;
  color: #fff;
  margin-bottom: 5px;
  font-weight: 300;
}