@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');


.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-image: url('../src/images/pozadie.jpg');
  background-attachment: fixed;
  /* margin-top: 15px; */
  width: 100%;
}

.nav-links {
  float: left;
  margin-left: 35px;
  height: 100%;
  line-height: 2rem;
}


.home img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 60px;
}

.home-bg{
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  z-index: 0;
  /* height: 120%; */
  
}

.bigName {
  text-transform: uppercase;
  font-size: 10vw;
}

.sectionName {
  text-transform: uppercase;
  transform: translate(-50%, 0%)  ;
  font-size: 3vw;
  position: absolute;
  color: #fff;
  left: 50%;
  padding-left: 0.25cm;
  padding-right: 0.25cm;
}

h4 {
  margin: 0;
  font-size: 1.6vw;
}

.sectionNameContainer {
  margin-top: 30px;
  margin-bottom: 60px;
  background-image: url('../src/images/obdlznik.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: skew(3deg, -7deg);
  line-height: 5vw;
}

#top {
  margin-bottom: 15px;
}

.contactText {
  font-size: 1.8vw;
  width: 32%;
  color: #1D74FF;
}

.countDown {
  line-height: 5vw;
  font-weight: 700;
  font-size: 3.5vw;
  letter-spacing: 0.3vw; 
  background-image: url('../src/images/obdlznik.png');
  background-repeat: repeat-x;
  width: auto;
  margin: 0;
  margin-bottom: 60px; 
}

.countdown {
  background-image: url('../src/images/2.png');
  background-position: center;
  color: #fff;
  height: fit-content;
  /* margin: auto; */
  border-radius: 30px;
  justify-content: center;
}

html, body{
  margin: 0;
  padding: 0;
}

.content {
  background-image: url('../src/images/2.png');
  background-size: 100%;
  /* background-attachment: fixed; */
  border-radius: 5vw;
  padding: 0.25cm;
}

.infoText {
  padding: 10;
  font-size: 2vw;
  color: #1D74FF;
}

.callText {
  padding: 10;
  font-size: 1.7vw;
  color: #1D74FF;
}

.speakerText {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  font-size: 1.5vw;
  color: #1D74FF;
  width: 80%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
  hyphens: auto;
}

.lineup {
  background-image: url('../src/images/2.png');
  background-position: center;
  border-radius: 25px;
  /* background-size: ; */
  color: #fff;
  height: 15vw;
  line-height: 15vw;
  align-content: center;
  vertical-align: middle;
  margin: auto;
  width: 50%;
  font-weight: 900;
}

.lineUpName {
  /* line-height: 10vw; */
  font-weight: 700;
  font-size: 5vw;
  letter-spacing: 0.2vw;
}

.program {
  font-size: 3vw;
  text-transform: uppercase;
  color: #fff;
  /* transform: skew(3deg, -8deg); */
}

.bands, .discs {
  margin: 5px;
  font-size: 1.5vw;
}

.dropdown {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
  border: none;
}

.Q {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  cursor: pointer;
}

.A {
  text-align: middle;
  animation: slideDown ease 1.2s forwards;
}

@keyframes slideUp {
  0% {transform: translateY(0);}
  100% {transform: translateY(-40px);opacity:1;}
}

@keyframes slideDown {
  0% {transform: translateY(-20px); opacity: 0;}
  100% {transform: translateY(0px);opacity:1;}
}

#faq {
  height: fit-content;
  margin-top: 0;
}

.faq {
  background-image: url('../src/images/2.png');
  background-size: 100%;
  /* background-attachment: fixed; */
  border-radius: 25px;
  padding: 0.25cm;
}

.content_container {
    padding-left: 20%;
    padding-right: 20%;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  width: 100%;
}

.nav-item {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.5rem;
  height: fit-content;
  vertical-align: middle;
}

.nav-links .nav-item {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.8rem;
  height: 100%;
  line-height: 50px;
  vertical-align: middle;
  cursor: pointer;
}

.nav-icons {
  float: right;
}

.active {
  font-weight: bold;
}

.mapContainer{
  height: 20vw;
  width: 100%;
}

.themeContainer {
  padding-left: 15%;
  padding-right: 15%;
}

.intro {
  text-align: center;
  justify-content: center;
}

.column {
  width: 50%;
  float: left;
}

.column img {
  width: 100%;
  height: auto;
}

.columnDisc {
  flex-basis: 33%;
}

.discLeft {
  float: left;
}

.discRight {
  float: right;
}

.column2 {
  width: 60%;
  height: 100%;
  /* float: left; */
}

.column1 {
  width: 40%;
  float: left;
}

.columnMap {
  width: 45%;
  height: auto;
  float: left;
}

.columnMap iframe {
  height: 100%;
  width: 100%;
}

.column-content {
  width: 45%;
  float: left;
  background-image: url('../src/images/2.png');
  background-size: 100%;
  /* background-attachment: fixed; */
  border-radius: 5vw;
}

.themeColumn {
  width: 100%;
  height: auto;
}

.column:nth-child(odd) {
  clear: left;
}

.columnMap:nth-child(odd) {
  clear: left;
}

.column-desc {
  display: flex;
  width: 20%;
  /* height: 70vw; */
  float: left;
  /* align-items:center;
  /* justify-content:center; */
  text-transform: uppercase;
  font-size: 10vw;
}

.column-gallery {
  width: 75%;
  clear: left;
  height: max-content;
  align-self: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.rowProgram {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rowContact {
  display: block;
  justify-content: space-between;
}

section {
  display: block;
  height: fit-content;
  font-size: 32px;
  font-weight: bold;
  place-items: center;
  /* margin-top: 25vw; */
}

hr {
  border: 1px solid black;
}

.logo {
  /* display: inline-block; */
  float: left;
  margin-right: 20px;
}

#about {
  height: fit-content;
}

#contact, #support {
  /* height: 50vh; */
  margin-top: 0;
}

.gallery{
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}

/* animations */
@keyframes rollout {
  0% { transform: translateY(-6vw); opacity: 0;; }
  10% { transform: translateY(-5vw); opacity: 1; }
  50% { transform: none; }
  90% { transform: translateY(4.38vw); opacity: 1;}
  100% { transform: translateY(6vw); opacity: 0; }
}

.roll-out {
  animation: rollout 3.1s;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  
}


#program {
  background-color: #F79204;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
}

.cell {
  padding: 10px;
  /* background-color: #999; */
}

.lineUpImg {
  width: 100%;
  height: auto;
}

/* footer */
.footer-box { 
  background: #1D74FF;
  max-width: 100%;
  height: auto;
}

.footer-img {
  padding-left: 10%;
  padding-right: 10%;
  max-width: 60%;
  max-height: 100%;
}


.speaker {
  width: 80%;
  height: auto;
}


@media (max-width: 800px) {
  .row {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  .sectionNameContainer {
    background-size: 60%;
    height: 50px;
  }
}

@media (max-width: 800px) {
  .column, .column-desc, .column-gallery, .column-content, .column1, .column2 {
    width: 100%;
    height: auto;
    margin-right: 0.25cm;
    justify-content: center;
  }

  .speaker {
    width: 100%;
    height: auto;
  }

  #qr {
    width: 100%;
    height: auto;
  }

  .columnMap {
    width: 100%;
    height: 250px;
  }

  .mapContainer{
    height: 150px;
  }

  .nav-links{
    display: none;
  }

  .column-video {
    width: 100%;
    height: 350px;
  }

  .infoText {
    font-size: 6vw;
    color: #1D74FF;
  }

  .callText {
    font-size: 5vw;
    color: #1D74FF;
  }

  .speakerText {
    font-size: 4.5vw;
  }

  .contactText {
    /* display: block; */
    width: 100%;
    color: #1D74FF;
    font-size: 4.5vw;
  }

  .sectionName {
    font-size: 5.5vw;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .content_container {
    padding-left: 15%;
    padding-right: 15%;
}
}

.wrap {
  white-space: pre-line;
}

.container {
  display: inline-block;
  cursor: pointer;
}



@media (max-width: 800px) {
  

  .logoContainer {
      height: auto;
      width: 100%;
      
  }
  .active {
    display: block;
  }

  .nav-item {
      display: block;
      width: 100%;
      padding: 5px 0;
      text-align: center;
      margin: 0;
  }

  .nav-icons ul {
    display: inline;
  }

  .nav-icons ul .nav-item{
    display: inline;
    align-self: center;
    float: none;
    padding: 0;
  }
}

@media (min-width: 2000px) {

  .App {
    background-image: url('../src/images/pozadie4k.jpg');
  }

}
